<h1>Diretivas</h1>
<hr>
<!--Diretiva de atributo ngStyle-->
<p [ngStyle]="{'background': isYellow ? 'yellow' : 'white'}">
    Diretiva de Atributo - [ngStyle]
</p>
<button type="button" (click)="trocarStyle()" >Troca Style</button>
<hr>

<!--Diretiva de atributo ngClass-->
<p [ngClass]="{'fundo-verde': isFlag, 'fundo-azul': !isFlag}">
  Diretiva de Atributo - [ngClass]
</p>
<button type="button" (click)="trocarClass()" >Troca Class</button>
<hr>

<!--Diretiva condicional-->
<p *ngIf="isCondicional; ngIfElse 'p'">
  Diretiva Estrutura Condicional - *ngIf
</p>
<button type="button" (click)="trocarCondicional()">Clique para esconder</button>
<hr>

<!--Diretiva de repetição-->
<p>Diretiva Estrutura de Laço</p>
<ul>
  <li *ngFor="let item of lista; let i = index">
    {{i}} - {{item}}
  </li>
</ul>
<hr>
