<h1>{{title}}</h1> <!-- Interpolation -->
<hr>

<span>Property Binding => </span>
<input type="text" [placeholder]="placeholderPropertie"> <!-- Property Binding -->

<br><br>
<div>
    <span>Two-way Data Binding =></span>
    <input type="text" value="" [(ngModel)]="textoDoInput"> <p></p> <!-- Two-way Data Binding -->
    <p>{{textoDoInput}}</p>
</div>

<button type="button" (click)="acionaAlerta()">Event Binding</button> <!-- Event Binding -->
<br><br>
<p 
    (mouseover)="onMouserOverOutClass()"
    (mouseout)="onMouserOverOutClass()"
    [class.highlight]="isMouseOverClass"> <!--Class Binding e Event Binding-->
    Class Binding - Highlight me!
</p> <!-- Event Binding -->

<br>
<!--um exemplo de style binding-->
<p 
    (mouseover)="onMouserOverOutStyle()"
    (mouseout)="onMouserOverOutStyle()"
    [style.color]="isMouseOverStyle ? 'red' : 'black'">
    Style Binding - Highlight me!
</p> <!-- Style Binding -->


