<h1>Fomulário de cadastro</h1>

<form #f="ngForm">
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite o nome" name="name" ngModel required>
  </div>
  <div class="form-group">
    <label for="descricao">Descrição:</label>
    <textarea class="form-control" id="descricao" rows="3" placeholder="Digite a descrição" name="description" ngModel required></textarea>
  </div>
  <br>
  <div>
    <button class="btn btn-primary" (click)="onSubmit(f)">Cadastrar</button>
  </div>
</form>

<hr>
<h1>Lista de Items</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description}}</td>
      <td>
        <button (click)="item.id !== undefined && excluirItem(item.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
